.body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
}
.navbar {
  /*
  position: fixed;
  */
}

.bar1 {
  background-color: #f0f08f;
  float: left;
}
.bar2 {
  background-color: #c9f38f;
  float: left;
}
