body {
	font-family: font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	background-color: #ececec;
	height: 100%;
}
.navbar{
  /*
	z-index: 3;
	
	background-color: #f57c00;
	border-radius:0px;
	box-shadow: 3px 5px 5px #dc6f00;
	*/
	height: 40px;
	margin:0px;
	border:0px;
}
.bar1 {
	width:50%;
	background-color:#f0f08f;
	float: left;
}
.bar2 {
	width:50%;
	background-color:#c9f38f;
	float: left;
}

/* book stuff */
.items {display:table;list-style:none;margin:0;padding:0;border-spacing:5px;}
.items li {display:table-row;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #ccc;padding:5px;margin:0 0 10px 0;}
.items li img {display:table-cell;vertical-align:top;}
.items li span.meta {display:table-cell;vertical-align:top;margin:0;padding:0 0 0 5px;}
.items li {margin:0 0 5px 0;}
